# It will look at the package.json engines of the package to be installed,
# and if the Node.js version does not match, it will treat the npm install as a failure.
engine-strict=true

# By setting dev or development,
# it will make sure that dev is included when running the shrinkwrap,
# outdated, and update commands.
also=dev

# It will automatically change the options to be added when npm install and npm rm.
save-exact=true

# If you set it to false, you can suppress the progress bar that appears when you install npm.
progress=false
